.hero {
  text-align: center;
  padding: 30px 0;
  @media screen and (min-width: 480px) {
    padding: 118px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }
}

.hero__overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-color: rgba(196, 196, 196, 1);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("/imeges/hero/img-1.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("/imeges/hero/img-2.jpg");
  }

  @media (min-width: 480px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("/imeges/hero/timg-1.jpg");
    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("/imeges/hero/timg-2.jpg");
    }
  }

  @media (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("/imeges/hero/base-1.jpg");
    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("/imeges/hero/base-2.jpg");
    }
  }
}

.hero__title {
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
  }
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  border-radius: 4px;

  border: 0px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--secondory-accent-color);
  }
}
