.options {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.options__item {
  &:nth-child(n + 2) {
    margin-top: 30px;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 15px);

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
    &:nth-child(n + 2) {
      margin-top: 0;
    }
    @media screen and (min-width: 1200px) {
      &:nth-child(2) {
        margin-right: 30px;
      }
      &:nth-child(-n + 2) {
        margin-bottom: 0;
      }
    }
  }
}

.options__icons-wrapper {
  display: flex;
  justify-content: center;

  padding-top: 25px;
  padding-bottom: 25px;

  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.options__icon {
  width: 70px;
  height: 70px;
}

.options__title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.options__text {
  color: var(--primary-text-color);
}
