.work {
  display: flex;
}

.work__item {
  margin-right: 30px;
}

.work__item {
  &:nth-child(3n) {
    margin-right: 0;
  }
}

.work__thumb {
  position: relative;
  max-width: 370px;
}
.work__text {
  color: #ffffff;

  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}

.work__label {
  position: absolute;
  width: 100%;

  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  bottom: 0;
}
